body{
	font-family: Helvetica, Arial, sans-serif;
}

.greycircles {				
	background: purple;
	width: 100px;
	height: 100px;
	margin: 10px; 
	flex: left;
	float: left;
	z-index: 20;
	border-radius: 50%;
	opacity: multiply;

}
.smallsquare {
	background: red;
	width: 100px;
	height: 100px;
	margin: 10px;
	flex: left;
	float: left;
	z-index: 0;
	opacity: multiply;
}

.play{
	animation: spin 1s ease-in-out alternate infinite;
}

#play, #stop{
	color: red;
	font-size: 3rem;
}

@keyframes spin {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg) ;
	}
}