/* header*/ 
*{margin:0;padding:0;font-family: 'Roboto', sans-serif; text-decoration:none; list-style:square;}

/*header*/
h1 {position:fixed; font-size:2rem; text-transform:uppercase; outline:rgb(0,0,139); color: black;
   -webkit-text-fill-color: white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black; left:0; top:0;}
p#p01 {margin-top:4rem; margin-bottom:2rem;}

/*body*/
#main {width:90%; margin:0 auto;} /*border:1px solid red;*/

/*images*/
#images {}
ul#ul01 li img{width:100%; height:auto; }
ul#ul01 li {width:25%; height:auto; list-style:none; float:left;}
ul#ul01 {width: 100%; float:left; }

ul#ul02 {margin-left:1rem;}
ul#ul02 li a:link {color:black;}
ul#ul02 li a:visited {color:black;}
ul#ul02 li a:hover {color:black; text-decoration:underline;}


/*text*/
div#text {clear:both; padding-top:2rem;}
div#text p {margin-bottom:1rem;}
h3{margin-bottom:1rem; color:rgb(0,0,139);

/*footer*/