body {background-color: white;
                }

            h1 {font-family: helvetica;
                color: white;
                text-transform: uppercase;
                text-align: center;
                border-style:solid;
                padding: 50px;
                border-width: 3px;
                letter-spacing: 5px;
                background-color: rgb(220,195,155);
                clear: both;
            }

            h2 {font-family: helvetica;
            	color: rgb(210,185,145);
            	text-align: center;
            	border-style: dotted;
                letter-spacing: 5px;
            	border-width: 1px;
            	border-color: rgb(240,215,175);}

            h3 {font-family: helvetica;
            	text-align: center;
                color: rgb(240,215,175);
            	border-width: 2px;
            	border: 2px;
            	margin-top: 20px;
            	margin-bottom: 20px;
            	font-size: 40px;
            }

            #intro {
            	float: left;
            	width: 300px;
            	height:300px;
            	border: 2px solid grey;
            	border-style: dashed;
            	padding: 20px;
            	margin: 10px 100px 20px 100px;
            	font-family: helvetica;
            	color: grey;
            }

            .box1 {
                width: 300px
                height:auto;
                margin-top: 30px;
                margin-bottom: 60px;
            }

            #other {
            	float: right;
            	width: 300px;
            	height:300px;
            	border: 2px solid grey;
            	border-style: dashed;
            	padding: 20px;
            	margin: 10px 100px 20px 100px;
            	font-family: helvetica;
            	color: grey;
            }

            .try h1:hover{
                color: grey;
                -webkit-transition:color .5s ease-in;}

            p {font-family: helvetica;
            	color: grey;
            	margin-top: 40px;
            	margin-bottom: 40px;
            	text-align: center;
            }