@import url('https://fonts.googleapis.com/css?family=Raleway');

.a {
	float: left;
	width: 300px;
	height: 300px;
	margin: 50px;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    position: relative;
}

img:hover{
	border-color: grey;
	border-width: 50px;
    -webkit-transition:border-color .5s ease-in;
}

.block {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.triangle1 {
width: 0;
height: 0;
border-style: solid;
border-width: 300px 300px 0 0;
position: fixed;
margin-top: -80px;
margin-left: -20px;
border-color: #EB9A8F transparent transparent transparent;}

.triangle2 {
width: 0;
height: 0;
border-style: solid;
position: fixed;
margin-top: -80px;
margin-left: 79%;
border-width: 0 300px 300px 0;
border-color: transparent #EB9A8F transparent transparent;
}

.triangle3 {
width: 0;
height: 0;
border-style: solid;
position: fixed;
margin-top: 368px;
margin-left: -20px;
border-width: 300px 0 0 300px;
border-color: transparent transparent transparent #EB9A8F;
}

.triangle4 {
width: 0;
height: 0;
position: fixed;
margin-top: 368px;
margin-left: 79%;
border-style: solid;
border-width: 0 0 300px 300px;
border-color: transparent transparent #EB9A8F transparent;
}

h1 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	margin-top: 70px;
	font-size: 36px;
	letter-spacing: 10px;
	color: white;
	text-shadow: 1px 1px 3px rgb(30,20,30);
}

h2 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	color: grey;
	border-width: 2px;
	border-style: solid;
	border-color: #EB9A8F;
	padding: 2px;
}

p {
	text-align: center;
	font-family: 'Raleway', sans-serif;
}