.container{
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.eyes{
	width: 1000px;
	overflow: auto;

}
.lefteye {
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	border: 100px solid white;
	float: left;
}

.righteye{
	width: 50px;
	height: 50px;
	background: black;
	border-radius: 50%;
	border: 100px solid white;
	float: right;
}

.nosearea{
	position: fixed;
	width:700px;
	height:450px;
	background: white;
	border-radius:50%;
	bottom:-100px;
}

.nose{
	width: 180px;
	height: 120px;
	background: black;
	border-radius: 50%/24px 24px 70px 70px;
	bottom:200px;
	position: fixed;
}

}