
        body{
        	background-color: rgb(255, 230, 255)
        }

         h1{
         	background-color: yellow;
         	color: blue;
         	font-family:'Baloo Bhaina', cursive;
         	padding: 1em;
                line-height: 1.2;
         }

         .unicorn{
         	color:white;
         	background-color:green;
         	padding:0.5em;

         }
         .event{
                 background: rgba(255,0,0,0.2);
                 border: 15px solid tomato;
       /* above is shorthand for
        border-width: 1px;
        border-style: solid;
        border-color: tomato;*/
                  padding: 1em;
                  box-sizing: border-box;
         }
        
        section{
                  overflow: auto;
         }

         #floated .event{
                          float: left;
                          width: 300px;
         }

         .tall{
                 height: 500px;
         }

         #flexbox{
                 display: flex;
         }
         .fixed {
                 width: 150px;
                 background: yellow;
         }
 
         .col1{
                 flex: 1;
         }
 
         .col2, .col3{
                   flex: 2;
         }


/*comment!!!*/
