			.layer1 { 
				background-color: black;
				width: 120%;
				   }

			.layer1 div { 
				 transform: rotate(25deg);
				 border: 80px solid violet;
				 margin: -20px;
				 width: 50px; height: 50px;
				 float: left;
				 mix-blend-mode: multiply;
				 border-radius: 30%;
				 border-right: 50px solid transparent;
				  }
			.layer1 div:nth-child(even) {
				 border: 80px solid pink;
				 border-left: 80px solid;
			}
		