
			body { margin:0; }
			
			.circle { 
				background: #ffffff;
				width: 100vh; height: 100vh;
				overflow: hidden; 
				 
				  }

			.circle div { 
				mix-blend-mode: multiply;
				float: left;
				height:50px;
				width:50px;
				background:#f26f6f;


				top:50%;
				left:50%;
				border-radius:200px;

			
				  }
				  
			.circle div:nth-child(n) {  background: #ff78ff; }
			.circle div:nth-child(2n) {  background: #7ccdff; }
            .circle div:nth-child(3n) {  background: #7cff7c; }


		