body { 
    font-family: 'Raleway', sans-serif;
    text-align: center;	
 	margin-top: 200px;
    background-color: rgba(162, 203, 198, 0.53);
}

#laundry {color: #128112;}


#green {color: white;
		font-size: 25px;
		 padding-top: 0em;

		}

#white {color: #f17389;
		font-size: 25px;
		 padding-top: 0em;

		}