body { 
    
    text-align: center;	
 	margin-top: 200px;
    background-color: rgba(227, 114, 114, 0.53);
}

h1{ font-family: 'Lobster', cursive; 
	color: white;
	font-weight: normal; 
	font-size: 200px;
	text-decoration: underline rgba(245, 175, 45, 0.86);

}

h2 {

	font-style: none;
}
    
#pink { font-family: 'Raleway', sans-serif;
color: #128112;
border-bottom: solid blue 1px;
font-style: none;
		font-size: 25px;
		 padding-top: 5em;}

#green {font-family: 'Raleway', sans-serif;
color: white;
		font-size: 25px;
		 padding-top: 5em;

		}

#white {font-family: 'Raleway', sans-serif;
color: #f17389;
		font-size: 25px;
		 padding-top: 5em;

		}


#para {margin: -50px;
	padding-bottom: 50px;
	font-size: 30px; 
	color: rgba(80, 80, 80, 0.95);

}




#title {  /*border: solid grey; 
	 width: 50%; 
     padding: 1em;	
     padding-bottom: 150px;
    padding-top: 150px;*/



}