body { 
    font-family: 'Raleway', sans-serif;
    text-align: center;	
 	margin-top: 200px;
    background-color: rgba(227, 114, 114, 0.53);
}

h1{ color: white;
	font-weight: bold; 
	font-size: 80px;
	text-decoration: underline grey;

}
    
#pink { color: #128112;
		font-size: 10px;
		 padding-top: 5em;}

#green {color: white;
		font-size: 10px;
		 padding-top: 5em;

		}

#white {color: #f17389;
		font-size: 10px;
		 padding-top: 5em;

		}


#para {margin: -15px;
	padding-bottom: 50px;

}




#title {  /*border: solid grey; 
	 width: 50%; 
     padding: 1em;	
     padding-bottom: 150px;
    padding-top: 150px;*/



}