
body {background: #f5e0ff}
        h1 {color: lime;}
        h2 {color: solid pink;
        	font-family:Georgia,serif;}
		strong {background: orange;}
li {
	margin bottom: 1rem;}
.special {text-decoration: underline;}
.box {border:1px dashed blue;
font-family: Georgia, serif;
width: 500px;
box-sizing: border-box;}

p{border: 1px solid red;}

.box p {background: hsla(180, 100%, 50%, 0.11)}
