body{
    font-family: 'Lora', serif;
    padding: 1rem 5rem;
}

.custom {cursor: url(file:///Users/byjiyeon/Documents/wp17/students/section3/jiyeonpark/secondweek/sprinklehand.png), auto;}

ul.nav{
    color: red;
}

.orange ul{
    color: orange;
}


body{
        margin: 0;
}

.yellow{
    background: yellow;
}


h1 {
        font-size: 30px;
}

h2{
        margin-top: 3em;
}

p{      
        margin: 0;
        margin-bottom: 5px;
        line-height: 1.5;
}

p:hover{
        color: grey;
}

.event{
        background: rgba(255,0,0,0.2);
        border: 3px solid tomato;
       /* above is shorthand for
        border-width: 1px;
        border-style: solid;
        border-color: tomato;*/
        padding: 1em;
        box-sizing: border-box;
}



section{
        overflow: auto;
}

/*Floated*/
#floated .event{
        float: left;
        width: 300px;
}

.tall{
        height: 500px;
}

/*Flexbox*/
#flexbox{
        display: flex;
}
.fixed {
        width: 150px;
        background: yellow;
}

.col1{
        flex: 1;
}

.col2, .col3{
        flex: 2;
}

/*change display property*/

#display .event{
        width: 300px;
        display: inline-block;
        ;
}

/*vertical centering*/
#centering{
        height: 100vh;
        background: #c8dfff;
        display: flex;
        align-items: center;
}

.box{
        width: 200px;
        height: 200px;
        background: #d3c52e;
        margin: auto;
}

.intro{
        color: red;
}


a{
        text-decoration: none;
        color: green;
}


a:hover {
        color: blue;
}


li{
        list-style-type: none;
        text-align: right;
        width: 500px;
}

/*li::before{
        content: '$ ';
}*/

h2::after{
        content: '*';
}

/*Responsive Design via Media Queries*/

@media screen and (max-width: 920px){
    #first .event{
        width: 100%
        }    

}

@media screen and (max-width: 620px){
    #first .event{
        background: yellow; 
        }    

}

.special{text-decoration: underline;}
