table{
	width:100%;
	height:100%;
}
.bird{
	width:200px;
	height:200px;
	
	background:
	url(images/Bird.jpg)
	no-repeat;
	background-blend-mode:multiply;
}

th:hover{
	background:
	url(images/Cat.jpg)
	no-repeat;
}
table, th, tr{
	border-collapse: collapse;
}

