body{
	background: yellow;
}
#rec{

	width: 0;
	height: 0;
	border-bottom: 180px solid blue;
	border-left: 180px solid transparent;
	position:absolute;
	top:500px;
	left:400px;
	z-index:3;
}
#circle{
	position:absolute;
	left:400px;
	top:30px;
	width: 500px;
	height: 500px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 60px solid red;
	z-index:1;

}
#circleIn{
	position:fixed;
	left:450px;
	top:130px;
	background:red;
	width: 500px;
	height: 500px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	z-index:2;

}