@charset "UTF-8";
@import url("HTML DS1/RoomsStyle.css");

#container { 
    width: 780px; 
    background: #FFFFFF; 
    margin-top: 50px; 
	margin-left: 100px;
    border: 50px solid #FFFFFF; 
    text-align: left; 
	float:left;
	
}

h1 {text-align: center;
	font-family: Arial;
    color: red;
}

#container p {
	font-family: Alverata Irregular PE Light; 
	font-size: 14px
}

#sidebar {
    width:22%;
    float:right; 	
}


#main {
    width:72%;
    float:left;
}

           
#header {width: 1300px; height: 150px; 	margin: 0; padding: 50px; border: 0; background: #ffffff;}           
#sidebar {width: 300px; height: 1400px; margin: 0; padding: 20px; border: 0; float: left;}           
#content {width: 950px; height: 1400px; margin: 0; padding: 50px; border: 0; float: left; background: #ffffff;} 
