@charset "UTF-8";

#container { 
    width: 780px; 
    background: #FFFFFF; 
    margin-top: 50px; 
	margin-left: 100px;
    border: 50px solid #FFFFFF; 
    text-align: left; 
	float:left;
	
}


#sidebar {
    width:22%;
    float:right; 	
}

#sidebar a {
    font-family: Arial; 
	font-size: 12px 	
}

#main {
    width:72%;
    float:left;
}

           
#header {width: 1300px; height: 150px; 	margin: 0; padding: 50px; border: 0; background: #ffffff;}           
#sidebar {width: 300px; height: 1200px; margin: 0; padding: 20px; border: 0; float: left;}           
#content {width: 950px; height: 1400px; margin: 0; padding: 50px; border: 0; float: left; background: #ffffff;} 
#content p {font-family: Alverata Irregular PE Light; font-size: 14px}


