body {
    margin: 0;
    color: #fff;
    font-size: 25px;
 

}

.infobox {
            background-color: transparent;
            width:450px;
            text-align: left;
            left:50px;
            margin: auto;
            color: #fff;
        }

        .header h1:nth-child(3){
            line-height: 50px;
        }

        #container {
            background-color: black;
            padding: 20px;
            text-align: left;
            width: 50%;
            position: fixed;
            left: 0;
            right: 0;
            height: 100vh;
            overflow-y: scroll;
            /*border-right: 1px solid white;*/


        }

     /*   #works1 {
            display: none;

        }*/

        @keyframes slide {
            from {right: -500px}
            to {right: 0px}
        }

    /*    #worksDisplay2 {
            display: none;

        }

        #workswhite {
            background-color: white;
        }*/

        .works {
            display: none;
            background-color: black;
            /*padding: 20px;*/
            text-align: left;
            position: absolute;
            top: 0;
            right: 0px;
            height: 100vh;
            overflow-y: scroll;
            width: 50%;
            /*width: 50%;*/
            animation-name: slide;
            animation-duration: 0.8s;



        }

        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 34px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .button1 {
            border: 1px solid #fff;
            width: 160px;
            padding:5px;
            float: right;
        }

        .button1:hover {
            color: #54a5d8;
            cursor: pointer;
        }


        iframe {
            width:800px;
        }

        @media only screen and (min-width:150px) and (max-width:600px){
            .infobox {
                width:90%;
                margin-left: 5%;
            }

            iframe {
                width:90%;
            }
        }

        h1:hover span {
            cursor: pointer;
        }

        .switt:hover{
        	background:white;
        }

        .posters {
            height: 100vh;
            background-color: blue;
        }

        .one {
            height: 100vh;
            background-color: red;
        }