body{
		background-image: url(https://s-media-cache-ak0.pinimg.com/originals/4c/de/b1/4cdeb18a2598507e71c6618746fc90cd.jpg);
    	background-color: rgb(255, 162, 0);
    	text-align: center;
}


h1{
		font-family: 'Gravitas One', regular;
		letter-spacing: 2px;
		color: rgb(134, 0, 179);
		font-size: 550%;
		text-align: center;		
		padding-top: 450px;


	}

a:link{
	color: rgb(134,0,179);
	text-decoration: none;
}

a:visited{
	color: rgb(200,0,179);
	text-decoration: none;
}
a:hover{
	color: rgb(255,255,77);
	text-decoration: line-through red;
}
	

/*div.da1{
	position: absolute;
   		top: 200px;
   		right: 560px;
    	width: 500px;
    	height: 100px;
}
*/

.diamonds{
	overflow: auto;
	margin: auto;
	bottom: 200px;
	left: 200px;
	width: 600px;
}

.da{
	float: left;
	width: 300px;
}
	

img:hover{
	opacity:0.5;
}

/*div.da2{
	position: absolute;
		float: left;
   		left:850px;
   		float: bottom;
   		bottom: 400px;
}*/

.rain{
	position: relative;

}

#line{
	width: 2px;
	height:3000px;
	background: purple;
	float:left;
	width: 10px;
	margin:10px;
	opacity:0.5;
	animation-name:slideInLeft;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

	


@keyframes slideInLeft {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

