body {
	background-color: rgb(255,162,0);
}



div.i4{
	padding-left: 400px;
	padding-top: 20px;

}

div.i5{
	padding-left: 400px;
	padding-top: 100 px;

}

div.i6{
	padding-left: 400px;
	padding-top: 100 px;

}

h1{
		position: absolute;
   		top: 80px;
   		right: 400px;
    	width: 500px;
    	height: 100px;
    	

		font-family: 'Gravitas One', regular;
		letter-spacing: 2px;
		color: black;
		font-size: 550%;
		text-align: center;		
	
}

div.back{
	padding-left: 700px;
	padding-top: 800 px;
	letter-spacing: 2px;


}
a:link{
	color: rgb(134,0,179);
	text-decoration: none;
}

a:visited{
	color: rgb(200,0,179);
	text-decoration: none;
}
a:hover{
	color: rgb(255,255,77);
	text-decoration: line-through red;

