body {background-color: #ffc9a5;
			}



.line1 div {
height:1000px;
width:20px;
/*background-color: rgba(255, 255, 255, 0.7);*/
background-color: skyblue;
transform: rotate(10deg);
float:left;
position: relative;
}

.line1 div:nth-child(even) {
height: 1000px;
width: 10px;
/*background-color: rgba(191, 123, 86, 0.7);*/
background-color: seagreen;
transform: rotate(-5deg);
float: left;
position: relative;
mix-blend-mode: multiply;
}

@media screen and (max-width: 600px)
{.line div {background-color: white;}
.line1 div:nth-child(even) {background-color: pink;}
}

@media screen and (max-width: 400px)
{.line div {background-color: white;}
.line1 div:nth-child(even) {background-color: purple;}
}
