body {
	background: rgb(255, 215, 202);
	font-family: 'Raleway', sans-serif; 
	text-align: center;	}


.back {animation: pulse 3s infinite;}
@keyframes pulse {
	
	50% {background-color: rgb(255, 211, 110);}
	100% {background-color: rgba(161, 205, 244, 0.63);}
}


img {height: 1500px; width: 1500px;
position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;}


.text {margin-top: 150px; margin-left: -5px;
}

 #head {color: white;
 	text-decoration: underline;
text-decoration-color: none;
margin-top: 100px;
}

h1 {font-size: 80px;}

h2 {color: #868686;
font-size: 55px;
font-weight: bold;
margin-top: -180px;}

.seats {margin-top: 2050px;
}

@-webkit-keyframes swing
{
     
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
   
  
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.swing:hover
{
        -webkit-animation: swing 5s ease;
        animation: swing 5s ease;
      
}