
body {
	color: white;
	background:repeating-linear-gradient(
		45deg,
		rgb(221,232,223),
		rgb(249,255,245) 10px,
		rgb(218,226,245) 10px,
		rgb(207,241,252) 20px);
	height: 800px;
	width: 100%;
}

.a {
	width: 100%;
	height:800px;
	position: absolute;
	background: repeating-linear-gradient(
		-45deg,
		rgba(203,202,225,0.5),
		rgba(245,255,255,0.5) 40px,
		rgba(225,223,232,0.5) 40px,
		rgba(242,249,245,0.5) 20px);
}

#p {
	width: 100px;
	height: 350px;
	background: linear-gradient(rgba(255,255,255,0.3),rgb(155,188,207));;
	margin-right: 10px;
	margin-top: 10px;
	margin-left: 0px;
	float: left;
}

.b {
	width: 100%;
	height: 800px;
	position: absolute;
	margin-top: 0;
}

#p1 {
	width: 200px;
	height: 200px;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 20px;
	border-radius: 25%;
	background-color: rgba(184,181,199,0.5);
	float: left;
	z-index: 10;
	position: relative;
}

#p1:hover {
	background-color: rgba(250,250,255,0.5);
	z-index: 10;
}

.c {
	background: repeating-radial-gradient(
    circle,
    rgb(255,255,255),
    rgb(255,255,255) 10%,
    rgba(214,211,219,0) 10%, 
    rgba(214,211,219,0)
  );
	background-size: 40px 40px;
	position: relative;
	width: 100%;
	height: 800px;
	z-index: 0;
}

#p2 {
	width:10px;
	height: 2000px;
	background-color: rgba(199,178,165,0.3);
	float: left;
	overflow: hidden;
	margin-top: -500px;
	margin-right: 20px;
	transform: rotate(45deg);
	z-index: 0;
}