body {
    background-color: rgb(242,226,191);
}

.circle1 {
    background-color: rgba(242,101,99,0.7);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-top: 200px;
}
.animated .circle1{
    animation: fly 7s linear; 
}
.circle2 {
    background-color: rgba(242,197,63,0.7);
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 10px;
    margin-top: -120px;
}
.animated .circle2{
    animation: fly 5s linear; 
}

.circle4 {
    background-color: rgba(61,171,179,0.5);
    border-radius: 50%;
    height: 110px;
    width: 110px;
    margin-left: 90px;
    margin-top: -120px;
}

.animated .circle4 {
    animation: fly 10s linear;
}

.circle5 {
    background-color: rgba(227,82,50,0.5);
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin-left: 70px;
    margin-top: -50px;
}

.animated .circle5 {
    animation: fly 4s linear; 
}

.circle6 {
    background-color: rgba(54,191,120,0.3);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    margin-left: 173px;
    margin-top: -120px;
}

.animated .circle6 {
    animation: fly 8s linear;
}

.line1 {
    background-color: black;
    width: 1px;
    height: 144px;
    margin-left: 76px;
    margin-top: -26px;
    transform: rotate(-35deg);
}

.line2 {
    background-color: black;
    width: 1px;
    height: 88px;
    margin-left: 103px;
    margin-top: -98px;
    transform: rotate(-20deg);
}

.line3 {
    background-color: black;
    width: 1px;
    height: 65px;
    margin-left: 120px;
    margin-top: -70px;
    transform: rotate(5deg);
}

.line4 {
    background-color: black;
    width: 1px;
    height: 134px;
    margin-left: 160px;
    margin-top: -119px;
    transform: rotate(38deg);
}

.line5 {
    background-color: black;
    width: 1px;
    height: 150px;
    margin-left: 118px;
    margin-top: -20px;
}

.balloon {
    text-align: center;
/*  margin-top: -200px;*/
    width: 230px;
    margin:auto;
}

h1 {
    font-size: 72px;
    color: rgb(232,203,169);
    font-family: arial;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    background-color: rgba(250,250,250,0.4);
    width: 150px;
    margin: auto;
    border: 2px solid white;
    border-radius: 17px;
}


h1:hover {
    background-color: rgb(232,203,169);
    color: white;
    box-shadow: 0 3px 4px 0 rgba(20,20,1,0.24), 0 3px 12px 0 rgba(20,20,1,0.19);
    cursor: pointer; cursor: hand;
}

h1 {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}


h1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(20px);
}

p {
    font-size: 10px;
    color: black;
    font-family: arial;
    text-align: center;
    margin-top: 20px;
}

@keyframes fly{
    50%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(500px);
    }
}

/*
div {
    display: block;
}*/