body {
    background-image: url("https://media3.giphy.com/media/yteckB0VsVeik/giphy.gif");
    cursor: crosshair;
    color:white;
}

h1 {
	padding-top:100px;
	text-align: center;
	font-size:50px
}

span {
	background-color:white;
	padding: 6px;
	color:black;
}

span:hover {
    color: blue;
}

a {
	text-decoration: none;
	color:white;
}

a:hover {
    color: #ffe97c;
}

tbody {
	text-align: center;
	font-size: 20px;
}

.table {
	margin: auto;
    width: 40%;
    border: 2px dashed #ffffff;
    padding: 10px;
    border-spacing:30px;
}