.container{

	margin:auto;
	width:80%;
	max-width:1200px;
	min-width:720px;
}

h1{
	text-align: center;
	margin: auto;
	color:red;
	border-bottom:2px solid black;
	font-weight:bold;
	font-size: 80px;
}

h2{

	font-size: 35px;
	font-weight:bold;
}

.container1 p{
	display: center;
}
.container2{
	display: flex;
	width: 100%;
	border: 5px;
}
.container2 div{

	width: 30%;

}
.container2 figure{
	border: 5px;
}
.container3{
	margin-left: 15%;
}
article{
	font-size: 15px;

	border-bottom: 2px solid black;
}

figcaption{
	font-size: 20px;
	text-align: center;
}

figure{
	float:right;
	margin-left:20px;
	overflow:auto;
}

.frame{
	width:2000px;
	height: 200px;
	overflow: hidden;
}

.example{
transform:rotate(-30deg);
transform-origin: bottom left
}


body{

	font-family:Arial,Georgia,serif;
}

