@import url('https://fonts.googleapis.com/css?family=Karla|Roboto|Sacramento');

body { 
    padding: 0;
    margin: 0;
    height: 2970px;
    font-family: "Karla", sans-serif;

}

#masthead {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border: 20px inset #5a5a5a;
    transition: all .2s ease-in-out;
}

.sectionone:hover {
    background-color: none;
}

/* TITLE */

#titlecontainer {
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: -83px;
    height: 100%;
    flex-direction: column;
}
.title {
    font-family: "Sacramento", cursive;
    padding: 50px;
    margin-top: 120px;
    
   /* PICTURE-TEXT MASK EFFECT */
    background: url(https://68.media.tumblr.com/febf36079c3c924ab0d23d50808bfcc6/tumblr_nbdj25PUPc1tf8vylo1_1280.png) no-repeat;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 1s ease-in-out;
    
    /* FADE IN ON LOAD */
    -webkit-animation: fadein 3s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s;
    -o-animation: fadein 3s;
    animation: fadein 3s;
}
    @keyframes fadein {
        0% {opacity:0;}
        50% {opacity:0}
        100% {opacity:100}
    }
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

/* LOGO */

#logo {
    display: inline-flex;
    align-items: center;
    padding: 20px;
}
#logomark {
    width: 35px;
    transition: all .5s ease-in-out;
}
#logomark:hover {
    transform: rotate(360deg);
}
#wordmark {
    font-family: "Karla", "Roboto", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 15px;
}

/* NAVIGATION BAR */

.navbar {
    position: absolute;
    top: 54px;
    right: 50px;
    min-width: 100vw;
}
.navlinks {
    color: black;
    font-weight: 900;
    font-family: Karla;
    font-size: 12px;
    margin-left: 35px;
    float: right;
    text-transform: uppercase;
}
a:hover, a:visited, a:link, a:active {
    color: black;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: .5px;
}

/* UNDERLINE HOVER */

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #000;
  height: 2px;
  transition-property: width;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

/* PAGE NAVIGATORS */ 

#pagenavigators {
    position: absolute;
    top: 50vh;
    left: 75px;
    right: 75px;
    width: auto;
}
#leftheart {
	transform: rotate(90deg);
	transform-origin: center 2;
	float: left;
    transition: all .5s ease-in-out;
}
#leftheart:hover {
    color: deeppink;
    transform: rotate(-270deg);
}
#rightheart {
	transform: rotate(270deg);
	transform-origin: center 2;
	float: right;
    transition: all .5s ease-in-out;
}
#rightheart:hover {
    color: deeppink;
    transform: rotate(-90deg);
}
.centerhearts {
    margin-top: 90px;
    margin-left: 5px;
    font-size: 12px;
    color: #717171;
    transition: all .2s ease-in-out;
}
.centerhearts:hover {
    font-size: 15px;
}

.one {
    display: inline;
    position: absolute;
    z-index: -1;
    left: 20px;
    bottom: 20px;
    width: 80%;
    
    /* FADE IN ON LOAD */
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 1s;
    -ms-animation: fadein 1s;
    -o-animation: fadein 1s;
    animation: fadein 1s;
}
    @keyframes fadein {
        0% {opacity:0;}
        25% {opacity:0}
        100% {opacity:100}
    }
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

#introduction, #background, #uses, #moreinformation {
    height: 400px;
    padding: 50px;
    margin: 50px;
    min-width: 700px;
}



h1 {
    font-family: "Sacramento", cursive;
    font-size: 50px;
    letter-spacing: 0;
    transition: all .2s ease-in-out;
    margin-top: -3.5px;
}

h2 {
    font-family: "Karla", sans-serif;
    font-size: 12px;
    line-height: 2;
    margin-top: -20px;
    text-align: justify;;
}

.textA {
    display: inline-block;
    float: left;
    width: 50%;

}

.pictureA {
    position: absolute;
    z-index: -1;
    right: 100px;
    height: 400px;
    
    /* FADE IN ON LOAD */
    transition: all .2s ease-in-out;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
    @keyframes fadein {
        0% {opacity:0;}
        25% {opacity:0}
        100% {opacity:100}
    }
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

.textB {
    position: absolute;
    right: 100px;
    width: 50%;

}

.pictureB {
    display: inline-block;
    float: left;
    z-index: -1;
    z-index: -1;
    height: 400px;
    
    /* FADE IN ON LOAD */
    transition: all .2s ease-in-out;
    -webkit-animation: fadein 1s;
    -moz-animation: fadein 10s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
    animation: fadein 2s;
}
    @keyframes fadein {
        0% {opacity:0;}
        25% {opacity:0}
        100% {opacity:100}
    }
    @-moz-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
    @-webkit-keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

#sectionthree {
    background-color: #5a5a5a;
    height: 50px;
    width: 100%;
    display: flex;
}

#columnA {
    width: 100%;
    margin: 0 auto;
}

#copyright {
    color: #c9c9c9;
    width: 420px;
    margin: 0 auto;
    margin-top: 20px;

}

div p {
    font-family: "Karla", "Roboto", sans-serif;
    color: black;
    font-size: 10px;
}

h2 p {
    color: black;
}

.questionone {
    width: 100vh;
    columns: 2;
    line-height: 2;
}

h3 {
    display: inline-block;
    margin-left: 130px;
}

.hi {
    font-size: 10px;
    line-height: 2.5;
    background: #e8e8e8;
    margin: 10px;
    text-align: center;
}

.hi:hover {
    background: #fffadf;
}

.highlight {
    font-weight: bold;
    background: gold;
}

#instructions {
    font-family: "Karla", "Roboto", sans-serif;
    font-size: 15px;
    margin-bottom: 50px;
    margin-top: -50px;
    line-height: 1.5;
}


























