*{margin:0; padding:0; list-style:none; text-decoration:none;}


#main {width:90%; margin:0 auto;}
li img {width:400px; height:auto; float:left; margin:1rem;}
article {clear:both; margin-bottom:1rem;}
p {margin-bottom:0.5rem;}
ol li a:link, a:visited, a:hover, a:active {color:black;}
ol li a:hover {text-decoration:underline;}