body{
	margin:0;
}
h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:16px;
	margin:0;
}
h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:16px;
	padding:10px 0 0 5px;
	margin:0;
    border-top: 3px solid black;

}
#menu{
	position:fixed;
	right:7%;
	width:100px;
}
#menu > div{
}
.btn{
	padding:20px 10px;
	border-top: 3px solid black;
}
#ww{
	padding:105px 0 20px 10px;

}
#blankBtn{
	height:19px;
}
#cata, #sideBar{
	position:fixed;
	top:109px;
	left:7%;
	width:1000px;
}

.previewIMG{
	width:120px;
	height:120px;
	padding:0 5px;
}
.previewBox, .titleBox{
	width:130px;
	height:200px;
	float:left;
	margin:0 40px 10px 0;
}
.nameBox{
	width:130px;
	float:left;
	margin:0 40px 10px 0;
}
.nameBox h2{
	border:0;
}
.previewBox:hover{
	opacity: 0.5;
	cursor:pointer;
}
#work{
	padding: 109px 0 0 20%;
	margin-bottom:100px;
}
.pic{
	margin-bottom:20px;
}

#text{
	width:450px;
	display:none;
	background-color:rgba(255 ,255 ,255, 0.9);
	padding:10px 10px 10px 6px;
	margin:0;
	clear:both;
}
p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:16px;
	margin:0;
	line-height: 24px;

}
#experience{
	padding:10px 0 0 170px;
}
#back {
	position:fixed;
	bottom:100px;
	width:18px;
}
#back img{

	width:18px;
}
a{
	text-decoration:none;
	color:black;
}
a:hover{
	color: rgba(150,150,150,1)
}

@media screen and (min-width:1151px) and (max-width: 1280px) {
  
  #menu{
	position:fixed;
	right:4%;
	width:100px;
		}
  #cata, #sidebar{
	position:fixed;
	top:109px;
	left:4%;
	width:1000px;
		}
	.pic img{
		max-width: 700px;
	}	
}

@media screen and (min-width:1025px) and (max-width: 1150px) {
	#menu{
	position:fixed;
	right:2%;
	width:100px;
		}
  #cata, #sideBar{
	position:fixed;
	top:109px;
	left:2%;
	width:1000px;
		}
   #work{
	padding: 109px 0 0 17%;
	margin-bottom:100px;
		}
	.pic img{
		max-width: 650px;
	}
}

@media screen and (min-width:770px) and (max-width: 1024px) {
	#menu{
	position:fixed;
	right:2%;
	width:100px;
		}
  #cata, #sideBar{
	position:fixed;
	top:109px;
	left:2%;
	width:1000px;
		}
   #work{
	padding: 109px 0 0 17%;
	margin-bottom:100px;
		}
	.pic img{
		max-width: 650px;
	}
}

@media screen and (max-width: 770px) {
	
		#menu{
	height:40px;
	left:0;
	position:relative;
	width:100%;
}
#menu > div{
	float:left;
	text-align:right;
}
	#work{
	padding: 0;
	margin-bottom:80px;
		}
  #cata{
	position:relative;
 	top:10px;
 	left:0;
 	padding:10px 0 0 0;
 	margin:0px auto;
		}

	.pic img{
		max-width: 100%;
	}
	p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:14px;
	margin:0;
	line-height: 20px;

}
#blankBtn{
	height:19px;
}
.titleBox{
	width:100px;
	height:60px;
	float:left;
	margin:0 0 10px 10px;
}
	.btn{
	padding:10px 15px;
	border-left: 2px solid black;
	border-top: 0;
	height:20px;
}
#ww{
	padding:5px 15px 5px 15px;
}
#back {
	position:fixed;
	bottom:10px;
	left:10px;
	width:9px;
}
#back img{
	width:9px;
}
.previewBox{
	margin:0 0 10px 10px;
}
#blankBtn{
	padding:10px 0;
}
#text{
	width:100%;
	padding:0;
}
#text p{
	margin:0px 15px;
}
}
@media screen and (min-width:730px) and (max-width: 770px) {
#cata{

 	width:710px;
		}

}
@media screen and (min-width:590px) and (max-width: 729px) {
  #cata{

 	width:570px;
		}
}
@media screen (max-width: 589px) {

h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:14px;
	margin:0;
}
h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:14px;
	padding:10px 0 0 5px;
	margin:0;
    border-top: 2px solid black;
}
}
@media screen and (min-width:450px) and (max-width: 589px) {
#cata{
 	width:430px;
		}
}
@media screen and (max-width: 449px) {

#cata{

 	width:290px;
		}
}


