body{
	margin:0;
}
h1{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin:0;
}
h2{
	font-family: 'Lato', sans-serif;
	font-weight: ˙;
	margin:0;
}
#headline{
	position:fixed;
	width:100%;
	background-color:rgba(255 ,255 ,255, 0.8);
	z-index:2;
}
#ww{
	text-align:center;
	width:200px;
	font-size:14px;
	padding:25px;
	margin:0 auto;
}
#cata{
	width:90%;
	margin:0 5%;
	height:30px;
	font-size:9px;
	float:left;
	display:flex;
	text-align: center;
	border-bottom: 2px solid black;
}
.flex{
	flex:1;
}
#work{
	padding:170px 5% 0 5%;
	margin-bottom:100px;
	display:flex;
	z-index:1;
}
.previewBox{
	position:relative;
	margin:0 auto 30px auto;
	width:240px;
	height:240px;
}
.previewTitle{
	width:240px;
	position:absolute;
	bottom:0;
	font-size:12px;
	background-color: rgba(255 ,255 ,255, 0.8);
	text-align: center;
	padding:15px 0;
	display:none;
}
.previewTitle:hover{
	display:block;
}

#sideBar{
	position:fixed;
	top:109px;
	left:7%;
	width:80%;
}

.previewIMG{
	width:240px;
	height:240px;
}
.titleBox{
	width:130px;
	height:200px;
	float:left;
	margin:0 40px 10px 0;
}

.nameBox{
	width:130px;
	float:left;
	margin:0 40px 10px 0;
}
.nameBox h2{
	border:0;
}


.pic{
	margin-bottom:20px;
}

#text{
	width:450px;
	display:none;
	background-color:rgba(255 ,255 ,255, 0.9);
	padding:10px 10px 10px 6px;
	margin:0;
	clear:both;
}
p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:16px;
	margin:0;
	line-height: 24px;

}
#experience{
	padding:10px 0 0 170px;
}
#back {
	position:fixed;
	bottom:100px;
	width:18px;
}
#back img{

	width:18px;
}
a{
	text-decoration:none;
	color:black;
}

@media screen and (min-width:1151px) and (max-width: 1280px) {
  
  #menu{
	position:fixed;
	right:4%;
	width:100px;
		}
  #cata, #sidebar{
	position:fixed;
	top:109px;
	left:4%;
	width:1000px;
		}
	.pic img{
		max-width: 700px;
	}	
}

@media screen and (min-width:1025px) and (max-width: 1150px) {
	#menu{
	position:fixed;
	right:2%;
	width:100px;
		}
  #cata, #sideBar{
	position:fixed;
	top:109px;
	left:2%;
	width:1000px;
		}
   #work{
	padding: 109px 0 0 17%;
	margin-bottom:100px;
		}
	.pic img{
		max-width: 650px;
	}
}

@media screen and (min-width:770px) and (max-width: 1024px) {
	#menu{
	position:fixed;
	right:2%;
	width:100px;
		}
  #cata, #sideBar{
	position:fixed;
	top:109px;
	left:2%;
		}
   #work{
	padding: 109px 0 0 17%;
	margin-bottom:100px;
		}
	.pic img{
		max-width: 650px;
	}
}

@media screen and (max-width: 770px) {
	
		#menu{
	height:40px;
	left:0;
	position:relative;
	width:100%;
}
#menu > div{
	float:left;
	text-align:right;
}
	#work{
	padding: 10px 0 0 0;
	margin-bottom:80px;
		}
  #cata{
	position:relative;
 	top:10px;
 	left:0;
 	padding:10px 0 0 0;
 	margin:0px auto;
		}
  #sideBar{
  	position:relative;
 	top:10px;
 	left:0;
 	width:100%;
 	margin:0 0 30px 0;
  }
	.pic img{
		max-width: 100%;
	}
	p{
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size:14px;
	margin:0;
	line-height: 20px;
	margin:0 15px;


}
#blankBtn{
	height:19px;
}
.titleBox{
	width:130px;
	height:60px;
	float:left;
	margin:0 0 10px 10px;
}
	.btn{
	padding:10px 15px;
	border-top: 0;
	border-left: 3px solid black;

	height:20px;
}
#ww{
	padding:5px 15px 5px 15px;
}
#back {
	position:fixed;
	bottom:10px;
	left:10px;
	width:9px;
}
#back img{
	width:9px;
}
.previewBox{
	margin:0 0 10px 10px;
}
#blankBtn{
	padding:10px 0;
}
#text{
	width:100%;
	display:block;
	padding:0;
}
.previewBox:hover, .titleBox:hover{
	opacity: 1;
	cursor:pointer;
}

}
@media screen and (min-width:730px) and (max-width: 770px) {
#cata{

 	width:710px;
		}

}
@media screen and (min-width:590px) and (max-width: 729px) {
  #cata{

 	width:570px;
		}
}
@media screen and (max-width: 589px) {
.titleBox{
	width:100px;
}
.btn{
	border-left: 2px solid black;
}
h1{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:14px;
	margin:0;
}
h2{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size:14px;
	padding:10px 0 0 5px;
	margin:0;
    border-top: 2px solid black;
}
}
@media screen and (min-width:450px) and (max-width: 589px) {
#cata{
 	width:430px;
		}
}
@media screen and (max-width: 449px) {

#cata{

 	width:290px;
		}
}


