html{
    position:absolute;
    width: 100%;
    height:100%;
    background-color:#20A79F;
    color: white;
}c

body{
    
}

.container{
    position:absolute;
    border:.5px;
    border-color: white;
    border-style: solid;
    width:500px;
    height:700px;
}

#letter,#letter1,#letter2,#letter3,#letter4,#letter5,#letter6{
    position:absolute;
    font-family:sans-serif;
    font-size:4px;
}

.p1{
    top:27px;
    left:38px;
}

.p1bottom{
    top:33px;
    left:38px;
}

.p2{
    top:27px;
    left:112px;
}

.p2bottom{
    top:33px;
    left:112px;
}

.circle1{
    position: absolute;
    width:3.5px;
    height:3.5px;
    background-color:white;
    border-radius: 50px;
    top:31px;
    left:32px;
}

.circle2{
    position: absolute;
    width:3.5px;
    height:3.5px;
    background-color:white;
    border-radius: 50px;
    top:31px;
    left:107px;
}

h1{
    position: absolute;
    font-family: sans-serif;
    font-weight: 100;
    font-size:29px;
    top:36px;
    left: 32px;
    letter-spacing: -1.75px;
}

.img{
    position: absolute;
}

.rect{
    color:white;
    background-color: white;
    position: absolute;
    top:187px;
    left:332px;
  width: 18px;
  height: 375px;
  border: none;
  background: #EC107F;
  transform: rotateZ(45deg)   ;
    animation: colorchange 5s infinite;
}


.smallrect{
    position: absolute;
    top:500.1px;
    left:175px;
  width: 37px;
  height: 18px;
  border: none;
  background: white;
  transform: skewX(45deg)
    
}

.smallround{
    position: absolute;
    top:513.1px;
    left:180px;
  width: 300px;
  height: 5px;
  border: none;
  background: white;
    border-radius: 50px;
    
}


.round1{
    position: absolute;
    top:500px;
    left:32px;
  width: 175px;
  height: 18px;
  border: none;
  background: white;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
}

.round2{
    position: absolute;
    top:555px;
    left:32px;
  width: 448px;
  height: 18px;
  border: none;
  background: white;
  border-radius: 50px;
}

.round3{
    background-color: white;
    position: absolute;
    top:611px;
    left:32px;
  width: 448px;
  height: 18px;
  border: none;
  background: white;
  border-radius: 50px;
}

.round4{
    position: absolute;
    top:667px;
    left:32px;
  width: 448px;
  height: 18px;
  border: none;
  background: white;
  border-radius: 50px;
}

@keyframes colorchange
{
0%   {background: #e74c3c;}
15%  {background: violet;}
30%  {background:indigo;}
45%  {background: blue;}
60% {background: green;}
75% {background: orange;}
90% {background: purple;}
100% {background: #e74c3c;}
}