body{ 
	margin:0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
 	transition: all .4s ease-in;
  	mix-blend-mode: multiply;
	background-blend-mode: multiply;
}

#bg{
    overflow: auto;

}

h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size:50px;
	letter-spacing:-0.02em;
	line-height:1.1em;
	color: rgba(0,0,255,1); 
	mix-blend-mode: multiply
}

p{
	margin:0;
}

a {
    color: rgba(236,28,36,1);
    mix-blend-mode: multiply;
    text-decoration: none;

}


a:visited {
    text-decoration: none;
}


a:hover {
	/*background-color: rgba(255,242,0,1);*/
    color: rgba(0,0,255,1); 
    mix-blend-mode: multiply;


}

a:active {
    text-decoration: none;

}

a.with-background-transition { 
  transition-duration: 2s; 
  transition-property: background;

}

a.with-all-transition { 
  transition-duration: 2s;
}

section{
	overflow: auto;
}



#intro1.text{
	float: left;
  width:50%;
	padding: 1em;
	box-sizing:border-box;

}

#intro2.text{
	float: left;
	width: 33%;
	padding: 1em;
	box-sizing:border-box;
}

#intro3.text{
	flex:1;
   width:50%;
}

.description{
	border-top:2px solid blue;
	padding:.1em;
	box-sizing:border-box;

}

.circleblue:first-child {
	border-radius: 50%;
	/*box-sizing: border-box;*/

	position: absolute;
	float:left;
	top: 20%;
/*	left: 0;*/
	width: 100%;
 	height: 70%;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 100%; 
	transform: skew(-62deg) rotate(30deg);
    background-blend-mode: multiply;
    background: rgba(113,202,239,1); /*blue*/
    background-position: center;
  	display: none;
}


.squareyellow:nth-child(2) {
	position: absolute;
	float:left;
	top: 5%;
	bottom: 25%;
	left: 10%;
	right: 10%;
	width: 80%;
 	height: 200%;
    background: rgba(255,242,000,1); /*yellow*/
    background-position: center;
    background-blend-mode: multiply;
	display: none;
}

.circlegreen:nth-child(3) { 
	position: absolute;
	float:left;
	top: 20%;
/*	left: 0;*/
	width: 100%;
 	height: 70%;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 100%; 
	transform: skew(-55deg) rotate(30deg);
    background: rgba(0,255,0,1); /*green*/
    background-position: center;
    background-blend-mode: multiply;
  	display: none;
} 

.trianglepink:last-child {
	position: absolute;
	float:left;
  	top: 0%; 
  	border-bottom: 99vh solid rgba(243,146,189,1); /*pink*/
  	border-left: 98vw solid rgba(255,216,237,1);
    background-position: center;
    background-blend-mode: multiply;
	display: none;
}




@media (min-width: 1025px) and (max-width: 3500px) {
  body {
  	background: rgba(191,231,247,1); /*blue*/
  	background-blend-mode: multiply;
    font-size:30px;
    line-height:2em;
    letter-spacing:-0.07em;

  	}
}


@media (min-width: 1025px) and (max-width: 3500px) {
.circleblue:first-child { 
	display: block;
	background-blend-mode: multiply;
	

  }
}
 


@media (min-width: 851px) and (max-width: 1024px) {
  body {
    background: rgba(255,249,174,1); /*yellow*/
    background-blend-mode: multiply;
    font-size:30px;
    line-height:2em;
    letter-spacing:-0.07em;
	}
}

@media (min-width: 851px) and (max-width: 1024px) {
.squareyellow:nth-child(2) { 
	display: block;
	background-blend-mode: multiply;

	}
}



@media (min-width: 601px) and (max-width: 850px) {
  body {
    font-size:30px;
    line-height:2em;
    letter-spacing:-0.07em;
    background: rgba(202,230,208,1); /*green*/
    background-blend-mode: multiply;

	}
}


@media (min-width: 601px) and (max-width: 850px) {
  .circlegreen:nth-child(3) { 
	display: block;
	}
}



@media (min-width: 319px) and (max-width: 600px) {
  body {
    background: rgba(255,216,237,1); /*pink*/
    background-blend-mode: multiply;
    font-size:30px;
    line-height:2em;
    letter-spacing:-0.07em;

	}
}

@media (min-width: 319px) and (max-width: 600px) {
	.trianglepink:last-child { 
		display: block;

	}
}


/*Animations*/

@keyframes wheel {

	100% {
		transform: rotateY(-180deg);
	}
}

.circleblue:first-child {
	animation: wheel 10s alternate infinite;
}

.squareyellow:nth-child(2) {
	animation: wheel 10s alternate infinite;
}

.circlegreen:nth-child(3) {
	animation: wheel 10s alternate infinite;
}

.trianglepink:last-child {
	animation: wheel 10s alternate infinite;
}









