html {
	font-family: 'Noto Sans', sans-serif;
}

body {
	margin: 0;
}

.header {
	height: 100vh;
	background-color: #000;
	margin: 0;
	color: #fff;
}

.header p {
	padding-left: 3%;
}

.title {
	padding-left: 3%;
	padding-top: 2%;
	font-size: 5em;
}

.intro {
	margin: 5% 10% 5% 10%;
}

#display {
	margin: 5% 10% 5% 10%;
	display: inline-block;
}

#display .text {
	border: 4px solid #000;
	box-sizing: border-box;
	width: 48%;
	padding: 3%;
	float: left;
	margin: 1%;
}