body{
		font-family:helvetica;
}
h1{
		font-size:30px;background:#F8FF05;
}
h4{
		font-size:20px;background:#00FFDA;
}
h6{
		font-size:20px;line-height:1; margin: 0;
}
p{
		margin:0;
}
ul{
		border:1px;outline-color:black;
}

.event{background: rgba(255,0,0,0.2);
	border: 1px solid tomato;
	padding: 1m;
	box-sizing; border-box; text-align: left;
}
section {
overflow:auto;

}

.box{

width:200px;
height:200px;
border:1px solid tomato;
margin:auto;
align:center;
}