@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
.circle:hover{ 
			width:50vw; height:50vw; 
		}

.circle {
	background-color: black;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	animation: spin 1s ease-in-out infinite;
	margin: auto;
	margin-top: 40px;
}

.more {
	background-color: grey;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin1 1s ease-in-out infinite;
	float: left;
	margin-left: 50px;
	overflow: hidden;
}

.box {
	height: 50px;
	width: 100px;
	overflow: hidden;
}

@keyframes spin {
	0% {
		background-color: rgb(200,200,200);
	}
	50% {
		background-color: rgb(174,227,245);
	}

	100% {
		background-color: rgb(200,200,200);
	}
}

@keyframes spin1 {
	0% {
		background-color: rgb(200,200,200);
		width: 1px;
	}
	50% {
		background-color: rgb(174,227,245);
		width: 50px;
	}

	100% {
		background-color: rgb(200,200,200);
		width: 1px;
	}
}

h2 {
	color: white;
	text-align: center;
	font-family: 'Indie Flower', cursive;
}

h1 {
	text-align: center;
	font-family: 'Indie Flower', cursive;
	margin-top: 70px;
	position: relative;
}