style>

        	body { font-family: Georgia, serif;
				}

        	h1 { 

        	background-color: yellow;
        	border: 2px solid blue; 
        	color: blue;
        	padding: 1em; 

        	 }

        	p { font-size: 20px;
        		font-family: Georgia, serif;

        	}

        	h2 { color: rgba(255, 0, 0, 0.5);

        	}

        	.bluberry {
        		 font-weight: bold;
        	}

        	section {
        		font-style: italic;
        	}
        	#last {background: yellow;}

			#left, #right 

			{width: 50%; 
			float: left;
			padding: 1rem;}

        </style>