h1 {font-size: 400px;}
h2 {font-size: 200px}
body {background-color: tomato;}
h3 {color: white; font-size: 200px;}
h4 {color: black; font-size: 200px;}
.event {font-size: 200px;}

.event1 {background-color: white;}