
        body {

                border: 10rem;
                margin-left: 5em;
                margin-right: 5em;
        }

        p {
        	font-size 2 px
        	/*this means that it is applied to all p taggs*/
        }

        h2 {
        	color: rgb(255, 0,0);
        	/* rgba colors or hex codes*/
        	font-size: 2em;
        	font-family: Georgia, Serif;

        	/* you can declare this in the individual part orrrrr you could declare this in the body so that it does it for everything */

        }


        #last {
        	color:rgb(30, 150, 80);
        }

        #left, #right{
        	width:40%;
        	/*this is a percentage of the container*/
        	float:left;
        	padding:1rem;
        	/*box-sizing:*/

        }

         .blueberry {
                font-size:8em;
                width: 100%;
                color:rgb(200, 80, 80);
                display: fixed;
                position: fixed;
                text-align: center;
                /*this class gets applied to anything that has the same class in its heading*/
        }

        /*over flow auto*/

        /*learn the difference between padding, boarder and margin
        inline styles override styles writen in the head
        google fonts is cool lots of fonts*
        fixed box vs flex box*/

