@media (max-width: 800px) {
 .rotate {
 	font-size: 20pt;
 }
}

dd{
	display: none;
	margin-left: 1.5em;
}

@font-face {
  font-family: 'avenir';
  src: url('avenirLTStd-Book.otf');
 }

@font-face {
	font-family: 'rockwell';
 	src: url('RockwellStd.otf');
}

@font-face {
	font-family: 'avenirOblique';
	src: url('avenirLTStd-BookOblique.otf');
}

body {
	font-size: 7.8pt;
	line-height: 1.4em;
	margin:0;
	/*margin-top: 0em;*/
  	/*margin-bottom: 0.2em;*/
}

/*p {
	margin-bottom: 0.2em;
	margin-top: 0em;
}*/

.menuContainer {
	display: flex;
	flex-direction: ltr;
	flex-wrap: wrap;
	justify-content: right;
	padding-top: -10%;
	padding-right: 6.25%;
	padding-left: 20%;


}

.menuSection {
	flex: 0;
	padding: 2.1%;
	flex-wrap: wrap;
	flex-basis: 20%;
	box-sizing: border-box;
	padding-top: 2em;


}

.iteam2 {
	flex:1, 1, 20%;

}

.sectionHeading {
	font-size: 11pt;
	font-family: 'rockwell', Fallback, serif;
	color: rgb(234, 100, 36);
	letter-spacing: 1.5pt;
}

.menuItaem {
	font-size: 7.9pt;
	font-family:'rockwell', Fallback, sans-serif;
	color: rgb(234, 100, 36);
	letter-spacing: 0.3pt;
	margin-bottom: -1em;
    margin-top: 2em;
}

.descriptions {
	font-size: 7.8pt;
	font-family: 'avenir', Fallback, sans-serif;
	margin-bottom: -1em;
}

.glutenFree {
	font-size: 7.8pt;
	font-family: 'avenirOblique', Fallback, sans-serif;
	color: rgb(234, 100, 36);
}

.price {
	font-family: 'avenir', Fallback, sans-serif;
}

.numberedList {
	font-family:'rockwell', Fallback, sans-serif;
	color: rgb(234, 100, 36);
	display: inline-block;
	margin-top: 1.5em;
}

.specialSpacingforthePlus {
	margin-top: -0.8em;
}

.specialTreatmentForNumberedListsContent {
	/*text-indent: 2em;*/
	margin-left: 2em;
}

.rotate {
	font-size: 40pt;
	font-family: 'rockwell', Fallback, serif;
	color: #fff;
	letter-spacing: 1.5pt;
	transform: rotate(-90deg);
	/*transform-origin: left top 30%;*/
	box-sizing: border-box;
	position: fixed;
	margin-left: -5%;
	margin-top: 11%;
	z-index: -5;
}

.sideGraphics {
	width: 100%;
	height: 100%;
	position: fixed;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.rectangle {
    width: 15%;
    height: 100%;
    background: rgb(234, 100, 36);
    z-index: -10;
    top: 0px;
}

.sideGraphics.image {
	padding-left: 10%;
	z-index: -120;
	position: relative;
	top: -20px;
}


