body:hover:before{
	background-color: #fffa77;
}
.pos{
	background-color: #fc7155;
}
.pos2{
	background-color: #fc7155;
}
.pos3{
	background-color: #fc7155;
}
.pos4{
	background-color: #fc7155;
}
.pos5{
	background-color: #e04e31;
}