table{
	width:100%;
	height:100%;
}
.bird{
	width:200px;
	height:200px;
	
	background:orange
	url(images/Bird.jpg)
	no-repeat;
	background-blend-mode:multiply;
}

th:hover{
	background: red
	url(images/cat2.jpg)
	no-repeat;
	
}


table, th, tr{
	border-collapse: collapse;
}


@media screen and (max-width: 200px)
.left, .middle, .right {
	width: 100%;
	margin: 0;
}


