.firstone{background-color: #F4AEFF;}
.doughpage{background-color: #FFBF08;}
.youkanpage{background-color: #00FFB6}
.together{background-color: #FF00B6}
    h1{
    	color:coral;
    	text-align: center;
    	font-family: "Miso"
    }
   a{text-decoration:none; ;color:white;}
    	
