
h2{

	font-family: Cooper Black, Arial Black, Sans-Serif;
	font-size: 32px;
	line-height: 55px;
	font-style: italic;
	
	}

h1{
	font-family: 'Cabin', sans-serif;
	font-size: 22px;
	float: center;
	line-height: 120%;
}

article{
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-style: italic;
	position: static;
	
}

span{
	color: red;
}
.vertical-text {
	position: relative;
	top: 110px;
	transform: rotate(90deg);
	font-family: 'Cabin', sans-serif;
	font-size: 30px;
	color: white;
	letter-spacing: 8px
}




.button {
	background-color: #F1CDF7;
    border: 1.2px solid white;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Cabin', sans-serif;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s; 
}

.botton1 {
	color: white;

}
.botton2 {
	color: white;
}

.button1:hover {
    border: 1.2px solid black;
    color: black;
}
.button2:hover {
    border: 1.2px solid black;
    color: black;
}
.botton3 {
	color: white;
}

.button3:hover {
    border: 1.2px solid black;
    color: black;
}


