@charset "UTF-8";

a {color: #2b2bf6;}   

#container {width: 1000px; margin: 0; padding: 0; background: #bbbbbb;}           
#header {width: 1300px; height: 150px; 	margin: 0; padding: 50px; border: 0; background: #ffffff;}           
#sidebar {width: 300px; height: 1400px; margin: 0; padding: 20px; border: 0; float: left; background: #ffffff;}           
#content {width: 950px; height: 1400px; margin: 0; padding: 50px; border: 0; float: left; background: #ffffff;} 
#content p {font-family: Arial; font-size: 14px}
#footer {width: 1000px; 	height: 50px; 	margin: 0; padding: 50px; border: 0; float: left; background: #ffffff; clear:both;}       


img {float: none; margin: 10px 10px 100px 100px;}


body {background-image: url(../Documents/room1back.png);
    background-color: #cccccc;
}

h1 {text-align: center;
    color: red;
}

h2 {
    text-align: center;
    color: red;
}

p {
    text-align: center;
    color: red;
}


* {box-sizing: border-box;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


#element {
    width: 680px; /* width of image */
    height: 320px; /* height of image */
    background-image: url(room1back.png);
}

#element:hover {
    background-image: url(/path/to/other_image.jpg);
}