body {
	/*counter-reset: section;
	font-family: Helvetica, sans-serif;
	text-align: center;*/
}

.container {
	height: 100vh;

	display: flex;
  	align-items: center;
  	align-content: center;
  	-webkit-flex-flow: wrap;
  	justify-content: center;

}
.element {
	width: 50px;
	height: 50px;
	margin: 0px;
	background-color: #f4ca16;    
}

/*.element::before{
	color: #fff;
	padding-top: 10px;
	display: block;
}*/



div:nth-child(1) {
	background-color:#269;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	width: 800px;
	height: 1600px;
}

div:nth-child(2) {
	transform: translate(-800px,-100px);
	width: 400px;
	height: 700px;
	background-color:#660033;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div:nth-child(2):hover {
		background-color:#660033;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	transform: translate(-800px,50px);
	transition: transform 125ms ease-out;
}


div:nth-child(3) {
	transform: translate(-800px,200px);
	width: 200px;
	height: 700px;
		background-color:#ff9900;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div:nth-child(3):hover {
	background-color:#ff9900;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	transform: translate(-800px,300px);
	transition: transform 125ms ease-out;
}


div:nth-child(4) {
	transform: translate(-800px,450px);
	width: 100px;
	height: 700px;
		background-color:#009999;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div:nth-child(4):hover {
		background-color:#009999;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	transform: translate(-800px,300px);
	transition: transform 125ms ease-out;
}

div:nth-child(5) {
	transform: translate(-800px,100px);
	width: 50px;
	height: 700px;
		background-color:#290066;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div:nth-child(5):hover {
		background-color:#290066;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	transform: translate(-800px,50px);
	transition: transform 125ms ease-out;
}

div:nth-child(6) {
	transform: translate(-800px,-100px);
	width: 48px;
	height: 700px;
		background-color:#006600;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

div:nth-child(6):hover {
		background-color:#006600;
background-image: linear-gradient(white 2px, transparent 2px),
linear-gradient(90deg, white 2px, transparent 2px),
linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
	transform: translate(-800px,50px);
	transition: transform 125ms ease-out;
}




.text {
	position: fixed;
				font-family: Helvetica;
				color: white;
				font-size: 15px;
				line-height: 2;
				font-weight: bold;
				text-align: right;
				right: 2100px;
				top: 350px;
				z-index: 30;
				transition: transform 125ms ease-out;
}

.text:hover {
	transform: translate(0px,50px);
	transition: transform 125ms ease-out;
	color: white;
}

.text2 {
	position: fixed;
				font-family: Helvetica;
				color: white;
				font-size: 30px;
				line-height: 1.3;
				font-weight: bold;
				text-align: left;
				right: 1860px;
				top: 300px;
				z-index: 30;
				transition: transform 125ms ease-out;
}

.text2:hover {
	transform: translate(0px,-50px);
	color: white;
	transition: transform 125ms ease-out;
}

.smallt {
	position: fixed;
				color: white;
				font-family: Helvetica;
				font-size: 9px;
				line-height: 1.3;
				font-weight: normal;
				text-align: left;
				right: 1880px;
				top: 650px;
				z-index: 30;
				transition: transform 125ms ease-out;
}

.smallt:hover {
	transform: translate(100px,0px);
	transition: transform 125ms ease-out;
	color: white;
}