

	body{
		background-color: #E2E0D0;
		font-family: helvetica, sans-serif;
	}

	.outside {
	width: 410px;
	height: 410px;
	background: #060707;
	display: block;
	position: absolute;
	margin-left: auto;
	margin-top: 300px;
	margin-right: auto;
	border-radius: 50%;
	left: 80px;
	z-index: 1;
	}

	.inside {
	width: 160px;
	height: 160px;
	background: #C42026;
	display: block;
	position: absolute;
	margin-left: auto;
	margin-top: 430px;
	margin-right: auto;
	border-radius: 50%;
	left: 210px;
	z-index: 2;
	}

	.center {
	width: 10px;
	height: 10px;
	background: #E0DBC7;
	display: block;
	position: absolute;
	margin-left: auto;
	margin-top: 505px;
	margin-right: auto;
	border-radius: 50%;
	left: 285px;
	z-index: 3;
	}

	.title1 {
		font-size: 15px;
		margin-left: 85px;
		margin-top: 260px;
		text-align: center;
		position:absolute;

}
	.title2 {
		font-size: 15px;
		margin-left: 305px;
		margin-top: 260px;
		text-align: center;
		position:absolute;
	}

	h2 {
		font-size: 8px;
		margin-left: 210px;
		margin-top: 20px;
		position:absolute;
	}

	h3 {
		font-size: 8px;
		margin-left: 305px;
		margin-top: 20px;
		position:absolute;
	}

	.inside:hover {
		background:blue;
	
	}








