@import url(http://fonts.googleapis.com/css?family=Roboto:400+700);
body {
  background: #f1d8ff;
  font-family: Roboto;
}
#chart {
  width: 650px;
  height: 600px;
  margin: 30px auto 0;
  display: block;
}
#chart #numbers {
  width: 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #eee;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  width: 600px;
  height: 300px;
  padding: 0;
  margin: 0;
}
#chart #bars li {
  display: table-cell;
  width: 100px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 70px;
  margin-left: 290px;
  background: #fa4444;
  position: absolute;
  bottom: 0;

}
#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: white;
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  color: #444;
  width: 100%;
  position: absolute;
margin-left: 275px;
  bottom: -2em;
  left: 0;
  text-align: center;
}

.button {
    background-color: rgba(76, 175, 80, 0);
    border: 2px solid #444;
    color: #444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: auto;
        position: relative;
    top: -200px;
    left: 700px;
}

.button:hover {background-color: #fa4444;
                border: 2px solid #fa4444;
color: white;}

.button0 {
    background-color: rgba(76, 175, 80, 0);
    border: 2px solid #444;
    color: #444;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: auto;
        position: relative;
    top: -200px;
    left: 450px;
}

.button0:hover {background-color: #fa4444;
                border: 2px solid #fa4444;
color: white;}

h1 {font-family: Roboto;
    font-size:30pt;
    text-align: center;
color:white;}

header {font-family: Roboto;
    font-size:140pt;
    text-align: left;
color:white;}

.button01 {
    background-color: rgba(76, 175, 80, 0);
    border: 10px solid #ffffff;
    color: #ffffff;
    padding: 30px 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    float: right;
    right: 200px;
    top: 150px;
}

.button01:hover {background-color: #fa4444;
                border: 10px solid #fa4444;
color: white;}

.button11 {
    background-color: rgba(76, 175, 80, 0);
    border: 5px solid #ffffff;
    color: #ffffff;
    padding: 30px 30px;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 27px;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    float: right;
    right: 530px;
    top: 10px;
}

.button11:hover {background-color: #fa4444;
                border: 10px solid #fa4444;
color: white;}
