body{
	background-color: black;
} 
#trapezoidhead {
	border-bottom: 850px solid red;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 0;
	width: 500px;
	padding-top: 30px;
	padding-left: -30px;
	margin-left: 500px;
}
#squareview {
	width: 120px;
	height: 50px;
	background: yellow;
	border-radius: 50%;
	position: absolute;
	top:200px;
	left:600px;

}

#pupil{
	width:30px;
	height: 30px;
	background:black;
	border-radius: 50%;
	position: absolute;
	top: 210px;
	left:650px;
}

#ears {
    background-color:yellow;
    height:150px;
    width: 75px;
    -moz-border-radius: 150px 0 0 150px;
    border-radius: 150px 0 0 150px;
    transform: rotate(180deg); 
    position: absolute;
    top:300px;
    left:900px;
}


#nose {
	width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-left: 200px solid transparent;
	position: absolute;
	top:300px;
	left:400px;
}

#nostril{
	width:30px;
	height: 30px;
	background:black;
	border-radius: 50%;
	position: absolute;
	top: 380px;
	left:490px;
}

#eyebrow{
	width: 120px;
	height:30px;
	border-radius: 50%;
	background:black;
	position:absolute;
	top:120px;
	left:650px;
	transform: rotate(40deg);

}

#mouth {
    background-color:yellow;
    height:150px;
    width: 300px;
    -moz-border-radius: 150px 0 0 150px;
    border-radius: 150px 0 0 150px;
    transform: rotate(273deg); 
    position: absolute;
    top:580px;
    left:448px;
}

.toprow {
	overflow: auto;
	margin: auto;
	position: absolute;
	top:494px;	
	left:410px;
	transform: rotate(3deg);
}

#teeth {
	width:80px;
	height: 50px;
	background:black;
	float: left;
	width: 20px;
	margin:10px;
	}



