body{
	font-family: Bebas, sans-serif;
}

h1, h3{
	font-weight: 100;
}

h2 {color: aquamarine;
	font-size: 80px;
}

h3{
	color: salmon;
}

dd{
	display: none;
}

.toggle, dl{
	float: left;
}

.toggle{
	position: relative;
	top: 15px;
	margin-right: 1rem;
}

.position{
 position: relative;
top: 80px
left: 100px
}


#trigger{
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: .8rem;
}

#trigger:hover{
	text-decoration: underline;
	cursor: pointer;
}
.dropdown{
	clear: both;
	cursor: pointer;
}

dt:hover{
	text-decoration: underline;
}
