body {
	background-color: #ffebe5;
	font-family: Lucida;
}


.straw{
    position: fixed;
    top: 95px;
    left: 631px;
    width: 30px;
    height: 300px;
    background: white;
    border-radius: 10%;
}

.strawline{
    position: fixed;
    top: 95px;
    left: 640px;
    width: 7px;
    height: 310px;
    background: #e5f2ff;
    border-radius: 10%;
}


.container {
	background-color: #ffebe5;
	width: 140px;
	position:relative;
	top:300px;
	left:495px;
}

.box {
	position: relative;
	margin: 0 auto;
    border-top: 300px solid red;
    border-left: 30px solid #ffebe5;
    border-right: 30px solid #ffebe5;
    height: 30;
    width: 230px;
    background-blend-mode: overlay;
}

