body {background-color: #3036d8;}
h1 {position: relative;
    left:200px;
font-family: Museo Sans;
font-weight: 200;
font-size: 130pt;
color: rgba(241, 255, 134, 0.87);
text-align: left;
z-index: -100;}
.bar1:hover,
.bar1:focus,
.bar1:active {
    transform: translateY(500px);}
.bar1 {width:100px;
    height:100px;
    border-radius:100px;}

.bar1 {display: inline-block;
            padding: 2em;
            background-color: rgba(255, 255, 255, .01);
            transform: translateZ(0);
            transition-property: transform;
            transition-timing-function: ease-in;
            backface-visibility: hidden;
            transition-duration: 0.5s;
  box-shadow: 0 0 10px rgb(255, 255, 255);}

.bar2:hover,
.bar2:focus,
.bar2:active {
    transform: translateX(190px);}
.bar2 {width:100px;
    height:100px;}

.bar2 {display: inline-block;
            padding: 2em;
            background-color: rgba(255, 255, 255, .01);
            transform: translateZ(0);
            transition-property: transform;
            transition-timing-function: ease-in;
            backface-visibility: hidden;
            transition-duration: 0.3s;
  box-shadow: 0 0 10px rgb(255, 255, 255);}

.bar3:hover,
.bar3:focus,
.bar3:active {
    transform: translateY(100px);}
.bar3 {width:100px;
    height:100px;
    border-radius: 100px;}

.bar3 {display: inline-block;
            padding: 2em;
            background-color: rgba(255, 255, 255, .01);
            transform: translateZ(0);
            transition-property: transform;
            transition-timing-function: ease-in;
            backface-visibility: hidden;
            transition-duration: 0.2s;
  box-shadow: 0 0 10px rgb(255, 255, 255);}

.bar4:hover,
.bar4:focus,
.bar4:active {
    transform: translateX(450px);}
.bar4 {width:100px;
    height:100px;}

.bar4 {display: inline-block;
            padding: 2em;
            background-color: rgba(255, 255, 255, .01);
            transform: translateZ(0);
            transition-property: transform;
            transition-timing-function: ease-in;
            backface-visibility: hidden;
            transition-duration: 0.5s;
  box-shadow: 0 0 10px rgb(255, 255, 255);}

.cont {position: relative;
        left: 200px;
    top: 100px;} 
.cont2 {position: relative;
        left: 200px;
    top: 100px;} 
.cont3 {position: relative;
        left: 200px;
    top: 100px;} 
.cont4 {position: relative;
        left: 200px;
    top: 100px;} 
section {padding-bottom: 350px;
        position: relative;
        top:-900px;
        z-index: 100;}