h1{
	color: rgb(255,240,204,30)
}

h2{
	color: rgb(255,0,0)
	font-family: 'Oswald', sans-serif;

}

li{
	color: rgb(255,0,0)
	margin-bottom: 2rem;
}

.special{
	

}

.box{
	border:1px dashed blue;
	width:500px;
	padding:1rem;
	box-sizing: border-box ;

}