body {
	font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-align: center;
}
h1 {
	font-size: 70px;
	font-family: Georgia, Times, Serif;
}

h2{
	font-size: 50px;
	margin: 30px 0px 30px 0px;
}

h3{
	font-size: 30px;
}
.links {
	margin: 40px auto;
	text-align: center;
}
.links img{
	width: 30px;
	margin-right: 8px;
	vertical-align: middle;
}
#pvd {
    padding: 20px;
    border: 1px solid #ff9900;
    width: 400px;
    margin: 40px auto;
}
p {
	font-size: 18px;
    line-height: 1.4;
    margin: 0 70px 20px 70px;
}
a {
	display: inline-block;
  	margin-left: 20px;
  	margin-right: 20px;
}
a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: orange;
}
a.active {
	font-weight:bold;
	color: orange !important;
}
.container { 
	width: 800px;
	margin: 20px auto;
}