body {
	background: #f1f1f1;
}


.head {
	position: contain;
	width: 300px;
	height: 300px;
	background: #ffd924;
	border-radius: 50%;
	margin-top: 15%;
	margin-left: 35%;
	overflow: hidden;
}

.eyeball1 {
	position: relative;
	width: 60px;
	height: 60px;
	background: #000;
	border-radius: 50%;
	left: 50px;
	top: 80px;
		
}

.eyeball2 {
	position: relative;
	width: 60px;
	height: 60px;
	background: #000;
	border-radius: 50%;
	left: 190px;
	top: 20px;
}

.whitePart1 {
	position: relative;
	width: 22px;
	height: 22px;
	background: #fff;
	border-radius: 50%;
	left: 80px;
	top: -33px;
}

.whitePart2 {
	position: relative;
	width: 22px;
	height: 22px;
	background: #fff;
	border-radius: 50%;
	left: 196px;
	top: -54px;
}

.leftCheek {
	position: relative;
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	left: -20px;
	top: 10px;
	overflow: hidden;
}

.rightCheek {
	position: relative;
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
	left: 220px;
	top: -90px;
}

.nose {
	position: relative;
	width: 16px;
	height: 8px;
	background: #000;
	border-radius: 100px / 50px;
	top: -210px;
	left: 140px;
}

.mouth {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 50px solid red;
	left: 628px;
	top: 390px;
}

.ears {
	position: contain;
}

/*.leftEar {
	position: relative;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 100px solid #ffd924;
	top: -330px;
	left: 130px;
	transform: rotate(-45deg);
}*/

.audio {
	position: absolute;
	left: 510px;
	top: 550px;
}


