body { background: #A3BFD8; 
  transition: background 2s; }

.sun{
  display: block;
  position: absolute;
  margin: auto;
  top:0; bottom:0; left:0; right:0;
}

.cloud {
  animation: clouds 8s linear infinite;
  margin-left: 0;
}

.cloud:nth-child(1){ 
  animation: clouds2 12s linear infinite;
  top: auto; bottom: 120px; opacity: 0.75;
}

.cloud:nth-child(2){ 
  animation: clouds 7s linear infinite;
  right: auto; left: 620px; opacity: 0.5;
}

.cloud:nth-child(3){ 
  animation: clouds2 10s linear infinite;
  bottom: auto; top: 400px; right: auto; left: 80px; opacity: 0.75;
}

.cloud:nth-child(4){ 
  animation: clouds 9s linear infinite;
  bottom: auto; top: 90px; right: auto; left: 320px; opacity: 0.5;
}

.cloud:nth-child(5){ 
  bottom: auto; top: 600px; right: auto; left: 320px; opacity: 0.7;
  animation: clouds2 10s linear infinite;
}

.sun {
  height: 100px;
  width: 100px;
  background: #FFCF87;
  top: -280px;
  left: -300px;
  border-radius: 60px;
  box-shadow: 0 0 60px 1px #FFCF87;
  mix-blend-mode: lighten;
}

.night{
  background: #242530;
}

.moon{
  background: #E4E6F4;
  box-shadow: 0 0 60px 1px white;
  mix-blend-mode: screen;
}

@keyframes clouds{
  0%{ 
      transform: translateX(-100px); 
  }
  100%{
    transform: translateX(1600px); 
  }
}


@keyframes clouds2 {
  0%{ 
    transform: translateX(-100px); 
}
  100%{
    transform: translateX(1600px); 
  }
}

/* page2 */

.pg2{
        background:  #091628;
      }

h1{
  font-family: helvetica;
  font-size:40px;
  top: 150px; left: 150px;
  position:fixed;
  color: white;
}


 div{
        background: #b1c2e5;
        float: left;
        margin: 10px;
        width: 50px;
        border-radius: 60px;
        height: 120px;
        transition: 1.5s all;
      }


      .clickedDiv {
        transform: rotate(160deg);
        margin-top: 100px;
        background: #7ddfef;
        height: 1000px;
      }

      .bgChange {
        background:  #375faf;

      }
}


