.container{
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.eyes{
	width: 1000px;
	overflow: auto;
	position: absolute;
	z-index: 1;

}
.lefteye {
	width: 250px;
	height: 250px;
	background: white;
	border-radius: 50%;
	float: left;
}

.righteye{
	width: 250px;
	height: 250px;
	background: white;
	border-radius: 50%;
	float: right;
}

.leftpupil{
	left:100px;
	top: 70px;

	width:50px;
	height: 100px;
	border-radius: 50%;
	background-color: black;

	position: absolute;
	z-index: 2;
}

.rightpupil{
	left:850px;
	top: 70px;

	width:50px;
	height: 100px;
	border-radius: 50%;
	background-color: black;

	position: absolute;
	z-index: 2;
}


.nosearea{
	position: fixed;
	width:850px;
	height:600px;
	background: white;
	border-radius:50%;
	bottom:-150px;
}

.nose{
	width: 180px;
	height: 120px;
	background: black;
	border-radius: 160px/70px 70px 150px 150px;
	bottom:300px;
	position: fixed;
}

.mouth{
	width: 700px;
	height: 120px;
	background: black;
	border-radius: 600px/40px 40px 200px 200px;
	bottom: 70px;
	position: fixed;
}

.cheeks{
	position: absolute;
	overflow: auto;
	z-index: 3;

	width: 1500px;
	bottom: 100px;
}

.leftcheek{
	width: 300px;
	height: 300px;
	background: red;
	border-radius: 50%;
	float: left;

}

.rightcheek{
	width: 300px;
	height: 300px;
	background: red;
	border-radius: 50%;
	float: right;

}

.eyebrows{
	width:900px;
	position: absolute;
	z-index: 2;
	top: 250px;
}

.leftbrow{
	width:100px;
	height: 100px;
}